@CHARSET "UTF-8";
li {list-style-type:none;}

table, th, td {border: 1px solid black;}

tr {height: 30px; padding: 3px;}

button {margin: 20px;}

input[type="text"], input[type="password"]{
  box-sizing: border-box;
  font-size:1.2em;
  height:1.2em;
  border-radius:4px;
  border:1px solid #c8cccf;
  color:#6a6f77;
  -web-kit-appearance:none;
  -moz-appearance: none;
  outline:0;
  padding:0 1em;
  text-decoration:none;
  width:10em;
}

.login {
	width: 20%;
	margin-top: 2%;
	margin-left: 40%;
	margin-right: 40%;
}

.footage {
	clear: both;
	text-align: center;
}

.detailLabel {
	width: 8%;
	display: inline-block;
	text-align-last: justify; 
}

.detailItem {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 20px;
}

.addForm p {
	margin-bottom: 8px;
	margin-top: 0px;
}

.addForm li {
	margin-bottom: 16px;
}

.addForm span{
	display: inline-block;
	width: 150px;
}

.bookTable {
	
}

.bookTable tr {
	height: 128px;
}

.bookTable td {
	width: 128px;
	text-align: center; 
}

/*switch开关*/
.mui-switch {
    width: 4em;
    height: 2.2em;
    position: relative;
    border: 1px solid #dfdfdf;
    background-color: #fdfdfd;
    box-shadow: #dfdfdf 0 0 0 0 inset;
    border-radius: 3em;
    background-clip: content-box;
    display: inline-block;
    -webkit-appearance: none;
    user-select: none;
    outline: none;
}
.mui-switch:before {
    content: '';
    width: 3em;
    height: 2em;
    position: absolute;
    top: 0px;
    left: 0;
    border-radius: 3em;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}
.mui-switch:checked:before {
    left: 1em;
}
.mui-switch.mui-switch-anim {
    transition: border cubic-bezier(0, 0, 0, 1) 0.4s, box-shadow cubic-bezier(0, 0, 0, 1) 0.4s;
}
.mui-switch.mui-switch-anim:before {
    transition: left 0.3s;
}
.mui-switch.mui-switch-anim:checked {
    box-shadow: #64bd63 0 0 0 16px inset;
    background-color: #64bd63;
    transition: border ease 0.4s, box-shadow ease 0.4s, background-color ease 1.2s;
}
.mui-switch.mui-switch-anim:checked:before {
    transition: left 0.3s;
}